{% extends 'base.html' %}
{% load blog_extras %}
{% block main %}

<!-- 上部分图片显示 -->
<div class="header-img" style="background-image: url('https://7.dusays.com/2020/11/25/f6582fd4280a3.jpg');">
    <div class="header-title">
        <span style="color: #0b2e13"> 日期归档 </span>
    </div>
</div>
<!-- 上部分图片结束-->

<div id="tt" ></div>

<!--左+右开始-->
<div class="container-fluid col-xl-10 col-lg-12 col-md-12 col-sm-12 mt-5 mb-5" >
    <!--左+右居中开始-->
    <div class="row mx-auto">
        <!-- 左侧开始-->
        <div class="col-lg-9 col-md-12 col-sm-12">
            <div class="kap-detail" >
                <div class="col-11 detail">
                    <div class="form-input">
                        <form action="#tt" method="post">
                            {% csrf_token %}
                            <div class="row mx-auto" style="padding-top: 15px;">
                                <div class="input-group input-group-sm col-sm-4 ml-1 mr-1 mb-2">
                                    <input id="min_day" class="form-control rounded input-style" type="date" min="2019-12-21" value="" max="2030-12-31" name="min_day">
                                </div>

                                <div class="input-group input-group-sm col-sm-4 ml-1 mr-1 mb-2">
                                    <input id="max_day" class="form-control rounded input-style" type="date" min="2019-12-21" value="" max="2030-12-31" name="max_day">
                                </div>

                                <div class="form-group col-sm-1">
                                  <input type="submit" class="btn btn-sm btn-info shadow" value="查询">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div style="font-size: 22px; font-weight: bold; color: #17A2B8; padding-left: 20px;">文章总览</div>

                    <div style="margin-top: 30px; margin-bottom: 60px; ">
                        <div class="date-line">
                            <ul>
                                {% for post in post_list %}
                                <li>
                                    <span></span>
                                    <div class="archives-menu d-flex">
                                        <div class="archives-menu-img">
                                            <img class="archives-menu-img-bg" width="50" height="50"
                                                 style="background-image: url({{ post.img_url }}); ">
                                        </div>

                                        <div class="archives-menu-title">
                                            <span class="com-date"><i class="fa fa-calendar"></i> {{ post.created_time|date:"Y-m-d H:i" }}</span>
                                            <br>
                                            <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title|truncatechars:24 }}</a>
                                            <a href="{% url 'blog:category' post.category.pk %}"
                                               class="pull-right" style="font-style: italic; color: #1e7e34;">「 {{ post.category.name }} 」</a>
                                        </div>

                                    </div>
                                </li>

                                {% empty %}
                                  暂无文章！
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                 </div>

                <!-- 页码开始 -->
                <div class="d-flex justify-content-center mb-3">
                    <ul class="pagination">
                    {% if post_list.has_previous %}
                    <li class="previousPage"><a href="?page={{ post_list.previous_page_number }}#tt" title="上一页"></a></li>
                    {% endif %}
                    <li>
                        <ol>
                        {% for pg in post_list.paginator.page_range %}
                            {% circle_page post_list.number pg %}
                        {% endfor %}
                        </ol>
                    </li>

                    {% if post_list.has_next %}
                    <li class="nextPage"><a href="?page={{ post_list.next_page_number }}#tt" title="下一页"></a></li>
                    {% endif %}
                    </ul>
                </div>
                <!-- 页码结束 -->


            </div>

            <script>
                document.getElementById('min_day').valueAsDate = new Date();
                document.getElementById('max_day').valueAsDate = new Date();
            </script>



        </div>
        <!-- 左侧结束-->

        <!-- 右侧菜单开始" -->
        <div class="col-lg-3 col-md-12 col-sm-12">
            {% show_panel %}
            {% show_recent_posts %}
            {% show_views_max %}
        </div>
        <!-- 右侧菜单结束" -->
    </div>
    <!--左+右居中结束-->
</div>
<!--左+右结束-->
{% endblock main %}
